/*
Theme Name: Colab Template Theme
Theme URI: https://www.colabconnects.co.nz/
Description: Child theme for Hello Elementor. Provides global CSS + JS hooks and project-wide styling overrides.
Author: Jonny Cui
Author URI: https://jonnycui.work/
Template: hello-elementor
Version: 1.0.0
Text Domain: colab
Requires at least: 6.0
Tested up to: 6.4
Requires PHP: 8.0
License: GNU General Public License v2 or later
License URI: https://www.gnu.org/licenses/gpl-2.0.html
*/

/* ==========================================================================
   Global Styles
   ========================================================================== */

:root {
	/* Fluid typography example */
  --fs-body: clamp(1rem, 0.25vw + 0.95rem, 1.125rem);
	/* Common spacing scale */
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.5rem;
  --space-6: 2rem;
	
	/* Motion */
  --ease-out: cubic-bezier(0.16, 1, 0.3, 1);
  --dur-1: 120ms;
  --dur-2: 240ms;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}
body {
  font-size: var(--fs-body);
}
/* Respect reduced motion - simplify animations, parallax effects, and transitions, ensuring a calmer user experience.  */
@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 1ms !important;
    animation-duration: 1ms !important;
  }
}

/* 
 * Responsive media queries 
 */
/* Wider Screens */
@media (min-width: 1681px) {}

/* Laptop */
@media (max-width: 1440px) {}

/* Tablet */
@media (max-width: 980px) {}

/* Mobile */
@media (max-width: 767px) {}
